@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin : 0;
    padding: 0;
}

html{
    font-family: "Montserrat", sans-serif;
    font-size: 12pt;
    color: var(--text-color);
    text-align: center;
}

body{
    min-height: 100vh;
    background-image: url(bg_image.jpg);
    background-size: cover;
    background-position: right;
    overflow: hidden;
}

.wrapper{
    box-sizing: border-box;
    background-color: white;
    height: 100vh;
    width: min(40%,600px);
    padding: 10px;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
}

form{
    width: (400px, 100%);
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

form > div{
    width: 100%;
    display: flex;
    justify-content: center;
}

form label {
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    fill: white;
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
}

form input{
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 50px;
    padding: 1em;
    font: inherit;
    border-radius: 0 10px 10px 0;
    border: 2px wheat;
    border-left: none;
    transition: 150ms ease;
}

form input:hover{
    border: 2px solid

}

form button{
    margin-top: 20px;
    border: none;
    border-radius: 1000px;
    padding: 0.85em 4em;
    font: inherit;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}
a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

#error-message{
    color: red;
}

